.round {
  border-radius: 14px;
}
.round-5 {
  border-radius: 30px;
}
img:hover {
  color: #562eff;
}

/* navigation */
.nav-padding {
  padding: 0 200px;
}

.flex-nav {
  display: flex;
  align-items: center;
}

.bg-nav {
  background-color: #562eff;
}

/* top player */
body {
  background-color: #f3f1ff;
}

.round {
  border-radius: 18px;
}
.top-players-name {
  font-size: 18px;
  font-weight: 500;
}

.yellow {
  color: #ffc014;
}
.orange {
  background-color: #ffe4e8;
}

.course:hover {
  cursor: pointer;
  background-color: #bcadff;
  transform: scale(1.05);
  transition: 0.1s ease-in-out;
}
